# Created by .ignore support plugin (hsz.mobi)
node_modules
.DS_Store
npm-debug.log
yarn.lock
package-lock.json
config/localhost.settings.js
config/localhost.project.js

build
dist
temp
cache
.idea/
answers.json
